<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 news-title">
            <h1 class="fw-bold">Trending News</h1>
        </div>
        <!-- news -->
        <div class="col-12">
            <!-- news cards -->
            <app-news-card [topic]="n.categorieDetail.name" [description]="n.description" [images]="n.photo" 
            [createdTime]="n.categorieDetail.created_at"  [viewCount]="n.viewCount" [shareCount]="n.shareCount"
            *ngFor="let n of data; index as i;"></app-news-card>
        </div>
    </div>
</div>