nav {
    overflow-x: auto;
    border-bottom: 1px solid grey;
    background-color: #183240;
    scrollbar-width: none;
}

.webkit-box {
    display: -webkit-box;
}

.sidenav-wrapper {
    background-color: transparent;
}

.sidenav-container {
    height: 100vh;
    background-color: whitesmoke;
}