<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12">
            <div class="d-flex mt-1">
                <div class="col-6">
                    <span>
                        Devendran
                    </span>
                </div>
                <!-- menu icon -->
                <div class="col-6 d-sm-none">
                    <i class="bi bi-list float-end h4"></i>
                </div>
            </div>
        </div>

        <!-- nav bar -->
        <nav class="col-12 p-0 mt-3">
            <div class="webkit-box">
                <a class="nav-link text-white" [routerLink]="['/dashboard']" *ngFor="let n of data; index as i;" [queryParams]="{categorie: n.name}">
                    <span>{{n.name}}</span>
                </a>
            </div>
        </nav>
    </div>
</div>