<div class="container-fluid px-0" [ngStyle]="{display: header}">
    <div class="row">
        <div class="col-12">
            <div class="d-flex mt-1">
                <div class="col-6">
                    <span>
                        NEWS
                    </span>
                </div>
                <!-- menu icon -->
                <div class="col-6 d-sm-none">
                    <i class="bi bi-list float-end h4" (click)="openSideNav()"></i>
                </div>
            </div>
        </div>

        <!-- nav bar -->
        <nav class="col-12 p-0 mt-3">
            <div class="webkit-box">
                <a class="nav-link text-white" [routerLink]="['/dashboard']" *ngFor="let n of data; index as i;" [queryParams]="{categorie: n.name}">
                    <span>{{n.name}}</span>
                </a>
            </div>
        </nav>
    </div>
</div>

<!-- side nav -->

<nav class="container-fluid sidenav-wrapper px-0 m-0 w-100"(click)="closeSideNav()" [ngStyle]="{display: sidenav}">
    <div class="row sidenav-container w-75">
        <div class="col-12">
            <div class="float-end mt-2">
                <i class="bi bi-x-circle-fill h1" (click)="closeSideNav()"></i>
            </div>
            <div class="mt-5">
                <p [routerLink]="['/dashboard']" [queryParams]="{categorie:t.name}" (click)="closeSideNav()"
                *ngFor="let t of data; index as i">
                    {{navtitle[i]}}
                </p>
            </div>
        </div>
    </div>
</nav>
