<div class="container-fluid container-md px-0">
    <div class="row mb-3">
        <div class="col-12 news-title">
            <h1 class="fw-bold">Saved News</h1>
        </div>
        <div class="col-12 d-md-flex flex-md-wrap">
            <app-news-card [topic]="n.categorieDetail.name" [description]="n.description" [images]="n.photo"
                [createdTime]="n.created_at" [viewCount]="n.viewCount" [shareCount]="n.shareCount"
                [routerLink]="[n._id, 'newspage']" *ngFor="let n of data; index as i;" class="col-md-4"></app-news-card>
        </div>
           
    </div>
</div>