 <!-- news cards -->
            <div class="news-card d-flex shadow-lg bg-white rounded mb-3 px-1 py-2">
                <div class="col-6">
                    <span class="card-topic">{{topice}}</span>
                    <p class="description">
                       {{description}} 
                    </p>
                    <span class="Posted-by">Posted By: {{creator}}</span>
                </div>
                <div class="col-6 text-center">
                    <img src="assets/image-1.jpeg" class="news-card-images">
                </div>
            </div>