<div class="container-fluid px-0">
    <div class="row">
        <div class="col-12 d-flex logo-container">
            <img src="assets/logo.png" class="news-logo-img me-3">
           <div>
            <p class="mb-0">HI Guest</p>
            <span class="welcome">Welcome to daily news</span>
           </div>
        </div>
        <div class="col-12 mt-3">
           <div class="d-flex">
            <i class="bi bi-palette-fill h1 me-4 text-primary"></i>
            <span>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode</label>
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                  </div>
            </span>
           </div>
        </div>
        <div class="col-12 mt-3">
            <div class="d-flex">
                <i class="bi bi-hand-index-thumb-fill h1 me-4 text-primary"></i>
                <span class="ms-2">
                Follow Us
             </span>
            </div>
         </div>
    </div>
</div>