body.dark, body.dark header, body.dark footer, body.dark .news-title, body.dark .news-card, body.dark .setting-container, body.dark .sidenav-container {
    background-color: black !important;
    color: white !important;
}

/* news card */

.card-sub-topic {
    font-size: 12px;
    background-color: rgba(128, 128, 128, 0.445);
    border-radius: 5px;
    padding: 5px;
}

.view-count i, .share-count i {
    font-size: 12px;
}

.view-count span, .share-count span {
    font-size: 12px;
}

/* news page */

.news-logo-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}